* {
	box-sizing: border-box;
	font-family: monospace;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	font-weight: 900;
	text-align: center;
	background: #063044;
	color: white;
}

section {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
}

iframe {
	width: 100%;
	height: 460px;
	margin-bottom: 10px;
}

#next, #prev {
	width: 31.33%;
	padding: 7px 15px;
	margin: 0 1%;
	text-decoration: none;
	color: white;
	background: #DDD;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	opacity: .7;
}

ul {
	list-style: none;
	padding: 0;
	width: 100%;
}

ul > li {
	opacity: .7;
	cursor: pointer;
	margin: 2.5%;
	width: 95%;
	text-align: center;
	color: white;
	background: #063044;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
}

.download {
	width: 31.33%;
	padding: 7px 15px;
	margin: 0 1%;
	text-decoration: none;
	color: white;
	background: #468BE6;
	border-radius: 5px;
	font-size: 20px;
	opacity: .7;
	cursor: pointer;
}

.download:hover, #next:hover, #prev:hover, ul > li:hover {
	opacity: 1;
}

@media screen and (min-width: 760px) {
	#next, #prev {
		order: 0;
		display: inline-block;
		position: static;
		margin: 1%;
		width: 46%;
		text-align: center;
		font-size: 20px;
	}

	.download {
		order: 1;
		font-size: 20px;
		line-height: 46px;
		height: 46px;
	}

	header {
		font-size: 24px;
		height: 40px;
		line-height: 40px;
	}

	iframe {
		height: 600px;
	}

	ul {
		display: block;
		margin: 0;
	}

	ul > li {
		display: inline-block;
		margin: 1%;
		width: 46%;
	}
}

@media screen and (min-width: 1280px) {
	main > * {
		float: left;
	}

	section {
		width: 30%;
	}

	iframe {
		width: 70%;
		height: 700px;
	}

	ul {
		width: 100%;
	}

	ul > li {
		width: 96%;
	}

	#prev, #next,
	.download {
		width: 96%;
		margin: 1%;
	}
}